// ==========================================================================
// admin menu styles
// ==========================================================================
li#menu-posts-ticket{
	
	// default menu item state
	.wp-menu-image:before{
		background: url(../img/icon_16_grey.png) no-repeat 0 10px !important;
	    content: "";
	}
	
	// hover menu item state
	&:hover{
		.wp-menu-image:before {
		    background: url(../img/icon_16_grey.png) no-repeat 0 10px !important;
		}
	}
		
	// current menu item state
	&.wp-has-current-submenu{
		.wp-menu-image:before {
		    background: url(../img/icon_16_grey.png) no-repeat 0 10px !important;
		}
	}
}

// ==========================================================================
// General Admin Styles
// ==========================================================================
.post-type-ticket{
	.wrap{
		h2{
			// set title admin icon icon
			background: url(../img/icon_32.png) no-repeat 0 7px;
			padding-left: 40px;
		}
	}
	
	// hide add new button and public box
	#submitdiv, .add-new-h2{
		display: none;
	}

	.wp-list-table .row-title {
		font-weight: normal;
	}

	.row-actions{
		display: none;
	}
}



.admin-support-comment{

	clear:both;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px dashed #CCC;
	overflow:hidden;

	.comment-right{
		padding-left:60px;
		min-height: 50px;
	}

	.comment-left{
		position:absolute;
	}

	p{
		margin:0;
		padding:0;
	}

	.meta-head{
		margin: 0 0 10px 10px;
		border-bottom: 1px solid #DDD;
	}

	.meta-content{
		margin-left:10px;
		p{
			margin-bottom: 10px;
		}
	}
}

// ticket info box
dl.wpss-dl{
	overflow: hidden;
	dt, dd{
		float:left;
		margin:0 0 5px;
	}

	dd{
		width: 60%;
	}

	dt{
		font-weight: bold;
		width:40%;
	}
}

span.wt-priority{
	padding: 2px 5px;
	

	&.high{
		background: red;
		color: #FFF;
	}

	&.medium{
		background: orange;
		color: #FFF;
	}

	&.low{
		background: green;
		color: #FFF;
	}
}

.wt_form_wrapper{

	label{
		width: 200px !important;	
		display: inline-block !important;	
	}
}