// ===========================================
// Ticket Archive
// ===========================================
#wt-ticket-archive{

	// h2, p{
	// 	margin:0;
	// 	padding:0;
	// }

	// p{
	// 	float:left;
	// 	margin-right: 10px;
	// }

	// h2{
	// 	a{
	// 		text-decoration: none;
	// 		color: #000;
	// 	}
	// }

	.pagination{
		margin-top: 10px;
		float:right;

		span, a{
			float:left;
			padding: 5px 10px;
			margin-left: 5px;
		}

		a{
			border: #DDD solid 1px;
			background: #EAEAEA;
		}

		.visuallyhidden{
			display: none;
		}
	}
}

// ===========================================
// Single Ticket
// ===========================================

.single-ticket{
	h1{
		font-size: 30px;
	}
}

// .wt-support-ticket{

.wt-support-comment{
	padding: 10px;
	margin: 10px 0 10px 0;	
	border: #DDD solid 1px;
	background: #EAEAEA;
	overflow: hidden;

	.wt-comment-right{
		h2, p{
			margin:0;
			padding:0;
		}

		p{
			float:left;
			margin-right: 10px;
		}

		h2{
			a{
				text-decoration: none;
				color: #000;
			}
		}
	}

	.wt-comment-content{
		width: 100%;
		clear:left;
	}
}

.wt-comment-author{
	font-weight: bold;
	margin-bottom: 10px;
}

.wt-comment-left{
	position:absolute;
	width:50px;
}

.wt-comment-right{
	padding-left:60px;
	min-height: 50px;
	p{
		line-height: 1.3;
	}
}
// }