// ===========================================
// Ticket Archive
// ===========================================
.post-type-archive-ticket{

	h1{
		margin-bottom: 20px;
	}

	h2{
		font-size: 18px;
		margin:0 0 10px !important;
		padding:0;
		a, a:visited{
			text-decoration: none;
			color: #000;
		}
	}

	.support-ticket{

		padding: 15px 20px 15px 20px;
		border-radius: 1px;
		position: relative;
		min-height: 50px;
		background-color: #fff;
		
	}

	.wt-odd{
		border: #DDD solid 1px;
		background: #EAEAEA;
	}

	.wt-meta-head{
		p{
			float:left;
			margin: 0 10px 0 0 !important;
			padding:0;
			line-height: 1;
		}
	}

	.pagination{
		margin-top: 10px;
		float:right;

		span, a{
			float:left;
			padding: 5px 10px;
			margin-left: 5px;
		}

		a{
			border: #DDD solid 1px;
			background: #EAEAEA;
		}

		.visuallyhidden{
			display: none;
		}
	}
}