.admin-support-comment {
  clear: both;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px dashed #cccccc;
  overflow: hidden; }
  .admin-support-comment .comment-right {
    padding-left: 60px;
    min-height: 50px; }
  .admin-support-comment .comment-left {
    position: absolute; }
  .admin-support-comment p {
    margin: 0;
    padding: 0; }
  .admin-support-comment .meta-head {
    margin: 0 0 10px 10px;
    border-bottom: 1px solid #dddddd; }
  .admin-support-comment .meta-content {
    margin-left: 10px; }
    .admin-support-comment .meta-content p {
      margin-bottom: 10px; }

dl.wpss-dl {
  overflow: hidden; }
  dl.wpss-dl dt, dl.wpss-dl dd {
    float: left;
    width: 50%;
    margin: 0 0 5px; }
  dl.wpss-dl dt {
    font-weight: bold; }

.wp-admin.post-type-ticket #submitdiv, .wp-admin.post-type-ticket .add-new-h2 {
  display: none; }

span.wt-priority {
  padding: 2px 5px; }
  span.wt-priority.high {
    background: red;
    color: white; }
  span.wt-priority.medium {
    background: orange;
    color: white; }
  span.wt-priority.low {
    background: green;
    color: white; }

.wt_form_wrapper label {
  width: 200px !important;
  display: inline-block !important; }
