li#menu-posts-ticket .wp-menu-image:before {
  background: url(../img/icon_16_grey.png) no-repeat 0 10px !important;
  content: ""; }
li#menu-posts-ticket:hover .wp-menu-image:before {
  background: url(../img/icon_16_grey.png) no-repeat 0 10px !important; }
li#menu-posts-ticket.wp-has-current-submenu .wp-menu-image:before {
  background: url(../img/icon_16_grey.png) no-repeat 0 10px !important; }

.post-type-ticket .wrap h2 {
  background: url(../img/icon_32.png) no-repeat 0 7px;
  padding-left: 40px; }
.post-type-ticket #submitdiv, .post-type-ticket .add-new-h2 {
  display: none; }
.post-type-ticket .wp-list-table .row-title {
  font-weight: normal; }

.admin-support-comment {
  clear: both;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px dashed #cccccc;
  overflow: hidden; }
  .admin-support-comment .comment-right {
    padding-left: 60px;
    min-height: 50px; }
  .admin-support-comment .comment-left {
    position: absolute; }
  .admin-support-comment p {
    margin: 0;
    padding: 0; }
  .admin-support-comment .meta-head {
    margin: 0 0 10px 10px;
    border-bottom: 1px solid #dddddd; }
  .admin-support-comment .meta-content {
    margin-left: 10px; }
    .admin-support-comment .meta-content p {
      margin-bottom: 10px; }

dl.wpss-dl {
  overflow: hidden; }
  dl.wpss-dl dt, dl.wpss-dl dd {
    float: left;
    margin: 0 0 5px; }
  dl.wpss-dl dd {
    width: 60%; }
  dl.wpss-dl dt {
    font-weight: bold;
    width: 40%; }

span.wt-priority {
  padding: 2px 5px; }
  span.wt-priority.high {
    background: red;
    color: white; }
  span.wt-priority.medium {
    background: orange;
    color: white; }
  span.wt-priority.low {
    background: green;
    color: white; }

.wt_form_wrapper label {
  width: 200px !important;
  display: inline-block !important; }
