#wt-ticket-archive .pagination {
  margin-top: 10px;
  float: right; }
  #wt-ticket-archive .pagination span, #wt-ticket-archive .pagination a {
    float: left;
    padding: 5px 10px;
    margin-left: 5px; }
  #wt-ticket-archive .pagination a {
    border: #dddddd solid 1px;
    background: #eaeaea; }
  #wt-ticket-archive .pagination .visuallyhidden {
    display: none; }

.single-ticket h1 {
  font-size: 30px; }

.wt-support-comment {
  padding: 10px;
  margin: 10px 0 10px 0;
  border: #dddddd solid 1px;
  background: #eaeaea;
  overflow: hidden; }
  .wt-support-comment .wt-comment-right h2, .wt-support-comment .wt-comment-right p {
    margin: 0;
    padding: 0; }
  .wt-support-comment .wt-comment-right p {
    float: left;
    margin-right: 10px; }
  .wt-support-comment .wt-comment-right h2 a {
    text-decoration: none;
    color: black; }
  .wt-support-comment .wt-comment-content {
    width: 100%;
    clear: left; }

.wt-comment-author {
  font-weight: bold;
  margin-bottom: 10px; }

.wt-comment-left {
  position: absolute;
  width: 50px; }

.wt-comment-right {
  padding-left: 60px;
  min-height: 50px; }
  .wt-comment-right p {
    line-height: 1.3; }

.wptickets_cols_2 {
  overflow: hidden; }

.wptickets_cols_2 .wptickets_col_1 {
  float: left;
  width: 48%;
  margin-right: 4%; }

.wptickets_cols_2 .wptickets_col_1.last {
  margin-right: 0; }
