.post-type-archive-ticket h1 {
  margin-bottom: 20px; }
.post-type-archive-ticket h2 {
  font-size: 18px;
  margin: 0 0 10px !important;
  padding: 0; }
  .post-type-archive-ticket h2 a, .post-type-archive-ticket h2 a:visited {
    text-decoration: none;
    color: black; }
.post-type-archive-ticket .support-ticket {
  padding: 15px 20px 15px 20px;
  border-radius: 1px;
  position: relative;
  min-height: 50px;
  background-color: white; }
.post-type-archive-ticket .wt-odd {
  border: #dddddd solid 1px;
  background: #eaeaea; }
.post-type-archive-ticket .wt-meta-head p {
  float: left;
  margin: 0 10px 0 0 !important;
  padding: 0;
  line-height: 1; }
.post-type-archive-ticket .pagination {
  margin-top: 10px;
  float: right; }
  .post-type-archive-ticket .pagination span, .post-type-archive-ticket .pagination a {
    float: left;
    padding: 5px 10px;
    margin-left: 5px; }
  .post-type-archive-ticket .pagination a {
    border: #dddddd solid 1px;
    background: #eaeaea; }
  .post-type-archive-ticket .pagination .visuallyhidden {
    display: none; }
