.input{
	margin-bottom: 10px;
}

.input.text{
    width:100%;
}
.input.text label, .input.textarea label{
    width:100%;
    display:block;
}
.input label{
	color:#333;
}
.input.text input, .input.textarea textarea, .input.password input {
    width:96%;
    padding:10px 2%;
}

.input.textarea textarea{
	height:100px;
}

.input.required label:before{
    color:red;
    content:'* '
}
.input.required label:after{
	content:': ';
}

.form_cols_2{
	overflow: hidden;
}
.form_cols_2 .input.two_col_left{
	width:47%;
	float:left;
}
.form_cols_2 .input.two_col_right{
	width:47%;
	float:right;
}

.error_msg{
	margin:10px 20px;
}

.error_msg p{
	padding:10px;
}
.error_msg.warn p{
	background:#FEEFB3;
	color:#9F6000;
	border:1px solid #9F6000;
}
.error_msg.success p{
	background:#DFF2BF;
	color:#4F8A10;
	border:1px solid #4F8A10;
}

/**
 * Add ticket form
 */
.form_wrapper{
	border:1px solid #DDD;
	background: #F1F1F1;
	width: 99%;
}

.form_wrapper form{
	margin:20px;
}

.form_wrapper .form_header{
	margin:20px;
	border-bottom: 1px dashed #DDD;
}


/**
 * Single Support Ticket View
 */

.support-ticket{
}
.support-ticket ul, .support-ticket li{
	list-style: none;
	margin:0 !important;
	padding:0;
}
.support-ticket .question{
	width:99%;
	overflow: hidden;
	border:1px solid #DDD;
	border-bottom-style: dashed;
	background: #F1F1F1;
}
.support-ticket .question .left{
	float:left;
	width:74%;
	margin-right: 5%;
	min-height: 150px;
}
.support-ticket .question .meta-head{
	margin: 15px 15px 0 15px;
	padding-bottom: 5px;
	border-bottom:1px solid #DDD;
}
.support-ticket .question .meta-content{
	margin:  10px 15px 15px;
}
.support-ticket .question .meta-head h1{
	padding: 0;
	margin:0;
}
.support-ticket .question p.desc{
	padding: 0;
	margin:3px 0 0;	
	color:#333;
}
.support-ticket .question .right{
	float:right;
	width:20%;
	padding-top:20px;
}


.support-ticket .response{
	width:99%;
	overflow: hidden;
	border:1px solid #DDD;
	border-bottom-style: dashed;
	background: #F1F1F1;
}
.support-ticket .response .left{
	float:left;
	width:74%;
	margin-right: 5%;
	min-height: 150px;
}
.support-ticket .response .meta-head{
	margin: 15px 15px 0 15px;
	padding-bottom: 5px;
	border-bottom:1px solid #DDD;
}
.support-ticket .response .meta-content{
	margin:  10px 15px 15px;
}
.support-ticket .response .meta-head h1{
	padding: 0;
	margin:0;
	line-height:110%;
}
.support-ticket .meta-head h1 a{
	color:#444;
	text-decoration: none;
}
.support-ticket .meta-head h1 a:hover{
	color:#444;
	text-decoration: underline;
}
.support-ticket .response p.desc{
	padding: 0;
	margin:3px 0 0;	
	color:#333;
}
.support-ticket .response .right{
	float:right;
	width:20%;
	padding-top:20px;
}

.support-ticket li{
	margin-top: 10px !important;
}

.support-ticket .form{
	width:99%;
	margin-top:10px;
	border:1px solid #DDD;
	background: #F1F1F1;
}
.support-ticket .form form{
	margin:20px;
	padding:0;
}
.support-ticket .form .textarea{
	/*width:96%;
	padding:2%;
	min-height:100px;*/
	margin-bottom: 10px;
}

/**
 * Browse Open Tickets
 */
.tickets .support-ticket.single .question{
	margin-bottom:10px;
	border-bottom-style: solid;
}

.tickets .ticket-0{
	border:1px solid #4F8A10;
	background:#DFF2BF;
}
.tickets .ticket-0 .meta-head{
	border-bottom-color: #4F8A10;
}
.tickets .ticket-5{
	border:1px solid #9F6000;
	background:#FEEFB3;
}
.tickets .ticket-5 .meta-head{
	border-bottom-color: #9F6000;
}
.tickets .ticket-10{
	border:1px solid #D8000C;
	background:#FFBABA;
}
.tickets .ticket-10 .meta-head{
	border-bottom-color: #D8000C;
}

/**
 * Suport Tickets Homepage
 */
